* {
    /* border: 3px solid #ff0000; */
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.playground {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: repeat(11, 40px);
    gap: 2px
}

.floor,
.unbreakable-wall,
.breakable-wall,
.wall {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

.breakable-wall,
.unbreakable-wall,
.floor {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.floor {
    background-image: url(../images/floor.png);
}

.unbreakable-wall {
    background-image: url(../images/unbreakable.png);
}

.breakable-wall {
    background-image: url(../images/breakable.png);
}


.wall {
    background-image: url(../images/wall.png);
}

.hud-container {
    position: absolute;
    left: 34.2%;
    width: 400px;
}

.hud-image {
    width: 120%;
}

.cell {
    position: relative;
    width: 32px;
    height: 32px;
}

.player {
    position: absolute;
    top: 20px;
    left: 46px;
    width: calc(12*40px);
    height: calc(6.5*40px);
    background-image: url(../images/player-1.png);
    background-size: 100%;
    background-position: 0 0;
    /* animation: playAnimation 0.5s steps(4) infinite; */
}

@keyframes playAnimation {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: -32px 0;
    }

    50% {
        background-position: -64px 0;
    }

    75% {
        background-position: -96px 0;
    }

    100% {
        background-position: 0 0;
    }
}